body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #fff;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.15),rgba(0,0,0,0.15)100%), url(background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;

}


.top-sentence {
  width: 100%;
  height: 34px;
  top: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #F3F3F3;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.center-sentence {
  font-family: 'Work Sans', sans-serif;
  width: 738p;
  height: 50px;
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35vh;
  margin-bottom: 5px;
  color: #F3F3F3  ;
  line-height: 50.44px;
  animation: growth ease-in 2.5s;
}

.subtitle {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 25px;
  line-height: 30px;
  color: #F3F3F3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.our-value-btn,
.security-info {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #606060;
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px 30px 15px 30px;
  border: none;
  float: left;
  cursor: pointer;
  font-size: 20px;
  background: linear-gradient(to top, rgba(243,243,243,0.7));
  border-radius: 3px;
  transition: 0.5s ease-in-out;
  animation: growth ease-in 0.9s;

}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.our-value-btn
{
  margin-right: 40px ;
}

.security-info {
  margin-left: 40px;
}

.icons-sms {
  width: 40px; 
  bottom: 0;
  float: left;
  margin-right: 6px;
  display: flex;
  align-self: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 20px;
}

.icons-twitter {
  width: 40px;
  margin-top: -1px;
  margin-right: 20px;
  bottom: 0;
  float: left;
  display: flex;
  align-self: center;
  justify-content: center;
  cursor: pointer;
}

.icons-location {
  width: 30px;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-right: 25px;
  cursor: pointer;
  float: left;
}

.icons-location,
.icons-sms,
.icons-twitter {
  transition: 0.3s ease-in-out;
}

.logo-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}

.security-info:hover,
.our-value-btn:hover {
  transform: scale(1.1);
  z-index: 10;
}

.icons-twitter:hover,
.icons-location:hover,
.icons-sms:hover
 {
  transform: scale(1.3);
  z-index: 10;
}

@keyframes growth {
  from {
    opacity: 0;
    height: 50%;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}